<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      TABLA DIDÁCTICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" class="ion-text-center">

  <ion-grid class="ion-text-center">
    <!-- <ion-title>
      <br>
      Idiomas
    </ion-title> -->
    <br>
    <ion-row class="ion-justify-content-around">
      <ion-col size="4">
        <ion-button (click)="selectIdioma('esp')" [ngClass]="selectedIdioma === 'esp' ? 'selected' : 'notselected'">
          <img src="assets/españa.png" alt="esp">
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="selectIdioma('usa')" [ngClass]="selectedIdioma === 'usa' ? 'selected' : 'notselected'">
          <img src="assets/usa.png" alt="esp">
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="selectIdioma('por')" [ngClass]="selectedIdioma === 'por' ? 'selected' : 'notselected'">
          <img src="assets/portugal.png" alt="esp">
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-title>
      <br>
      Temas
    </ion-title> -->
    <br>
    <ion-row class="ion-justify-content-around">
      <ion-col size="4">
        <ion-button (click)="selectTema('colores')" [ngClass]="selectedTema === 'colores' ? 'selected' : 'notselected'">
          <img src="assets/colores.png" alt="esp">
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="selectTema('numeros')" [ngClass]="selectedTema === 'numeros' ? 'selected' : 'notselected'">
          <img src="assets/numeros.png" alt="esp">
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="selectTema('animales')"
          [ngClass]="selectedTema === 'animales' ? 'selected' : 'notselected'">
          <img src="assets/animales.png" alt="esp">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

  @if (selectedTema !== '' && selectedIdioma !== '') {
  <ion-grid>
    <ion-row class="ion-justify-content-around" style="margin-left: 0.5rem;">
      <ion-col size="5">
        <ion-button color="tertiary"
          (click)="play(selectedTema === 'animales'? 'gato': selectedTema === 'numeros'? 'uno' : 'azul')">
          @if (selectedTema =='animales') {
          <img src="assets/gato.png" alt="esp" style="width: 80%;">
          }
          @else if (selectedTema =='numeros') {
          <img src="assets/uno.png" alt="esp" style="width: 75%;">
          }
          @else if (selectedTema =='colores') {
          <img src="assets/azul.png" alt="esp" style="width: 75%;">
          }
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button color="tertiary"
          (click)="play(selectedTema === 'animales'? 'pato': selectedTema === 'numeros'? 'dos' : 'amarillo')">
          @if (selectedTema == 'animales') {
          <img src="assets/pato.png" alt="esp" style="width: 60%;">
          }
          @else if (selectedTema =='numeros') {
          <img src="assets/dos.png" alt="esp" style="width: 65%;">
          }
          @else if (selectedTema =='colores') {
          <img src="assets/amarillo.png" alt="esp" style="width: 65%;">
          }
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button color="tertiary"
          (click)="play(selectedTema === 'animales'? 'cebra': selectedTema === 'numeros'? 'tres' : 'rojo')">
          @if (selectedTema =='animales') {
          <img src="assets/zebra.png" alt="esp" style="width: 80%;">
          }
          @else if (selectedTema =='numeros') {
          <img src="assets/tres.png" alt="esp" style="width: 65%;">
          }
          @else if (selectedTema =='colores') {
          <img src="assets/rojo.png" alt="esp" style="width: 65%;">
          }
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button color="tertiary"
          (click)="play(selectedTema === 'animales'? 'lobo': selectedTema === 'numeros'? 'cuatro' : 'verde')">
          @if (selectedTema =='animales') {
          <img src="assets/lobo.png" alt="esp" style="width: 60%;">
          }
          @else if (selectedTema =='numeros') {
          <img src="assets/cuatro.png" alt="esp" style="width: 65%;">
          }
          @else if (selectedTema =='colores') {
          <img src="assets/verde.png" alt="esp" style="width: 65%;">
          }
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button color="tertiary"
          (click)="play(selectedTema === 'animales'? 'jirafa': selectedTema === 'numeros'? 'cinco' : 'violeta')">
          @if (selectedTema =='animales') {
          <img src="assets/jirafa.png" alt="esp" style="width: 75%;">
          }
          @else if (selectedTema =='numeros') {
          <img src="assets/cinco.png" alt="esp" style="width: 65%;">
          }
          @else if (selectedTema =='colores') {
          <img src="assets/violeta.png" alt="esp" style="width: 65%;">
          }
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  }
  @else {
  @if (selectedTema == '' && selectedIdioma == '') {

  <h1>NO SELECCIONASTE IDIOMA NI TEMA</h1>
  }
  @else if (selectedTema == '') {
  <h1>NO SELECCIONASTE TEMA</h1>
  }
  @else if (selectedIdioma == '') {
  <h1>NO SELECCIONASTE IDIOMA</h1>
  }
  }
</ion-content>